.icon-row {
    display: flex;
    justify-content: space-between;
}


.icon-row__icon,
.icon-row__icon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icon i {
    font-size: 30px;
}

.icon-row__icon span {
    margin-top: 20px;
}


.icon-row__icon2 {
    display: flex;
    justify-content: space-between;

}

.icon-row__icon2 span {
    margin-top: 20px;
}

.icon-row__icon2 i {
    font-size: 30px;
}