.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f1f3;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {

    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    color: tomato;
    position: absolute;
    left: 30px;
    bottom: 25px;
}